* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --main_green: #02110a;
    --main_white: #fff;
    --name_font: 60px;
    --header_font: 30px;
    --normal_text: 20px;
    --small_text: 15px;
}

body {
    background: rgb(223, 226, 223);
}

header.head {
    background:#02110a;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/rocks.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

section.landing, section.navigators {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--main_white);
}

section.landing h1 {
    display: inline-block;
    font-size: var(--header_font);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: change_color 5s linear infinite;
}

@keyframes change_color {
    0%, 20% {
        background: var(--main_green);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    30%, 80% {
        background: rgb(255, 255, 255);
        ;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    100% {
        background: var(--main_green);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

section.landing h2 {
    font-size: clamp(2vw, var(--name_font), 5vw);
}

section.landing p {
    font-size: clamp(1vmin, var(--normal_text), 3vmin);
}

section.navigators {
    width: 100%;
    height: auto;
    top: 65%;
}

section.navigators nav {
    width: 100%;
    height: auto;
}

section.navigators nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.navigators nav ul li {
    margin: 0 10px;
}

section.navigators nav ul li a {
    background: linear-gradient( #fff, rgb(59, 65, 71), #fff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: var(--small_text);
}

/* MAIN */

main {
    margin-bottom: 100vh;
    background: rgb(223, 226, 223);
    box-shadow: 2px 2px 10px rgba(12, 0, 13, 0.774);
}

/* ABOUT SECTION */

section.about, section.portfolio {
    height: 100vh;
    padding: 100px;
}

section.about header, section.portfolio header {
    text-align: center;
    font-size: clamp(1vw, var(--header_font), 2vw);
    margin-bottom: 20px;
}

section.about .body {
    text-align: center;
    padding: 0 10rem;
}
section.about .resume{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.about .resume .resume-btn{
    padding: 15px;
    border-radius: 10px;
    background: var(--main_green);
    border: none;
    font-size: var(--small_text);
    cursor: pointer;
    color: var(--main_white);
    text-align: center;
    animation: pulse 2s linear infinite;
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0  rgba(2, 17, 10, 0.2);
    }
    70%{
        box-shadow: 0 0 0 30px rgba(2, 17, 10, 0);
    }
    100%{
        box-shadow: 0 0 0 0  rgba(2, 17, 10, 0);
    }
}

section.about .title {
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
}

section.about .skillsbars {
    position: relative;
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

section.about .skillsbars:hover .skills {
    opacity: 0.5;
}

section.about .skillsbars .skills {
    position: relative;
    display: flex;
    margin: 10px 0;
    padding: 10px 18px;
    background: linear-gradient( #61616144 0%, #333 10%, rgba(34, 34, 34, 0.404));
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
    width: auto;
}

section.about .skillsbars .skills:hover {
    opacity: 1;
    transform: scale(1.05);
}

section.about .skillsbars .skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
}

section.about .skillsbars .skills .name, section.about .skillsbars .skills .value {
    position: relative;
    width: 110px;
    text-align: right;
    color: #fff;
    margin-top: -2px;
    text-transform: uppercase;
}

section.about .skillsbars .skills .value {
    width: 40px;
}

section.about .skillsbars .skills .percent {
    position: relative;
    width: calc(100% - 150px);
    height: 10px;
    margin: 0 10px;
    border-radius: 10px;
    background: #c0c0c0;
    overflow: hidden;
}

section.about .skillsbars .skills .percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background: var(--main_green);
    box-shadow: inset 0 0 2px #000;
    animation: flow 4s ease-in-out forwards;
}

@keyframes flow {
    from {
        width: 0;
    }
}

/* PORTFOLIO SECTION */

section.portfolio .projects {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

section.portfolio .projects .project {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px rgb(59, 65, 71);
    transition: 0.5s ease;
}

section.portfolio .projects .project:hover {
    box-shadow: 0 0 20px rgb(59, 65, 71);
}

section.portfolio .projects .project img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

section.portfolio .projects .project:hover img {
    filter: invert(0.1) contrast(0.5) brightness(0.7);
    transform: scale(1.2);
}

section.portfolio .projects .project:hover a {
    display: block;
}

section.portfolio .projects .project a {
    position: absolute;
    font-size: 40px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 20;
    transition: display 0.5s ease;
}

section.portfolio .projects .project a::before {
    border-radius: 50%;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.514);
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

.footer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.footer::before {
    width: 50%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, var(--main_green), rgba(0, 0, 0, .5), rgba(255, 255, 255, 0.185), rgba(0, 0, 0, .5), rgba(255, 255, 255, 0.158), rgba(0, 0, 0, .5), rgba(255, 255, 255, 0.212));
}

.contact-image {
    width: 50%;
    height: 100%;
}

.contact-image img {
    width: 100%;
    height: 100%;
}

.contact-info {
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 100%;
    padding: 50px;
}

.input-group {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    font-size: var(--small_text);
}

.input-group input:focus~label, 
.message-group textarea:focus~label, 
.input-group input:valid~label, 
.message-group textarea:valid~label {
    left: 0;
    transform: translateY(-40px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(6, 51, 6);
}

.message-group textarea:focus~label, .message-group textarea:valid~label {
    transform: translateY(-30px);
}

.input-group label, .message-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: clamp(15px, 2vw, 17px);
    transition: .5s;
    pointer-events: none;
}

.message-group {
    width: 100%;
    height: 150px;
    position: relative;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 15px;
    resize: none;
}

.message-group label {
    top: 15px;
}

.contact-info form button {
    width: 150px;
    height: 50px;
    margin: 10px 0;
    border: none;
    font-size: var(--normal_text);
    cursor: pointer;
    background: var(--main_green);
    color: var(--main_white);
}
.to-top{
    width: 40px;
    height: 40px;
    right: 5px;
    bottom: 30px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(-90deg);
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0 10px rgb(0,0,0);
}
.to-top img{
    width: 100%;
    height: 100%;
    filter: grayscale(1.3);
}